@font-face {
  font-family: 'Arlen Variable';
  src: url('Trial-RefranktVF.woff2') format('woff2');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arlen Variable', sans-serif;
  font-size: 110px;
}

#canvasContainer {
  position: relative;
  display: inline-block;
}

.variable {
  color:white;
  position: absolute; /* Allows dynamic positioning */
  transform: translate(-50%, -50%); /* Center the text around the hand */
  transition: transform 0.1s ease-in-out; /* Smooth transition for position updates */
}
